{% extends "base.html" %}


{% block content %}
<div class="container-fluid" style="margin-top: 100px;">
    {% if user.is_superuser %}
    <div class="row" style="margin-left: 15%; margin-right: 15%;">
        <div class="col">
            <h2 style="color: #F5FFFA">Tavo Ataskaitos:</h2>
        </div>
    </div>
    <div class="row" style="margin-left: 15%; margin-right: 15%;">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'bendrijos_turinys_ataskaita' bendrija.id %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Ieškok Ataskaitas">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-left: 15%; margin-right: 15%;">
        <div class="col">
            <a href="{% url 'ataskaita_form' bendrija.id %}" class="btn btn-black rounded-0 btn-black-border btn-lg"
                style="margin-top: 1.5em;">
                <span class="text-uppercase" style="color: #F5FFFA">Add Ataskaita</span>
            </a>
        </div>
    </div>
    <div class="row" style="margin-left: 15%; margin-right: 15%;">
        <div class="col">
            <h3 style="color: #F5FFFA; margin-top: 1%;">Ataskaitos:</h3>
        </div>
    </div>
    <div class="row" style="margin-left: 15%; margin-right: 15%;">
        <div class="col" style="display: flex; flex-wrap:wrap;">
            {% for ataskaita in ataskaitos %}

            <div class="card mt-2" style="width: 18rem; margin-right: 1%; background: black;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #F5FFFA;">Metai: {{ ataskaita.year }}
                        <br>
                        Mėnesis: {{ ataskaita.mėnesis }}
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"
                        style="color: #F5FFFA; background: black; border-top: 1px solid white; border-bottom: 1px solid white;">
                        Atlyginimas:
                        {{ ataskaita.atlyginimas }}€
                    </li>
                    <li class="list-group-item"
                        style="color: #F5FFFA; background: black; border-bottom: 1px solid white;">Sodra:
                        {{ ataskaita.sodra }}€</li>
                    <li class="list-group-item"
                        style="color: #F5FFFA; background: black; border-bottom: 1px solid white;">VMI:
                        {{ ataskaita.vmi }}€</li>
                    <li class="list-group-item"
                        style="color: #F5FFFA; background: black; border-bottom: 1px solid white;">PVM Saskaitos
                        Kvitas:
                        {{ ataskaita.pvm_saskaitos_kvitas }}€
                    </li>
                    <li class="list-group-item"
                        style="color: #F5FFFA; background: black; border-bottom: 1px solid white;">Bankines
                        Operacijos:
                        {{ ataskaita.bankines_operacijos }}€
                    </li>
                    <li class="list-group-item"
                        style="color: #F5FFFA; text-decoration: underline; background: black; border-bottom: 1px solid white;">
                        Suma:
                        {{ ataskaita.sum }}€
                    </li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'edit_ataskaita' ataskaita.id %}" class="card-link text-uppercase"
                        style="color: #F5FFFA;">Redaguoti</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="post-preview">
        <h2 class="post-title">
            Please Login
        </h2>
    </div>
</div>
{% endif %}

{%endblock%}