{% extends "base.html" %}


{% block content %}
<div class="container" style="margin-top: 100px;">
    <div class="row">
        {% if user.is_superuser %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="row text-justify">
                <a href="{% url 'darbas_form' bendrija.id %}" class="btn btn-lg" style="margin-top: 1.5em;">
                    <span class="text-uppercase">Add Darbas</span>
                </a>
            </div>
            <div class="post-preview">
                <h2 class="post-title mb-3">
                    {{ bendrija.name }} Turinys:
                </h2>
                <div class="row w-100">
                    <div class="col-sm">
                        <h3>Darbai:</h3>
                        {% for darbas in darbai %}
                        <div class="card mt-2" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Darbas: {{ darbas.pavadinimas }}</h5>
                                <p class="card-text">Aprasymas: {{ darbas.aprasymas }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Preliminari Kaina: {{ darbas.preliminari_kaina }}
                                    <br>
                                    Galutine Kaina: {{ darbas.galutine_kaina }} </li>
                                <li class="list-group-item">Atlikti Iki: {{ darbas.atlikti_iki }}
                                    <br>
                                    Atlikimo Data: {{ darbas.darbas_atlikas }}
                                </li>
                                <li class="list-group-item">Pastabos: {{ darbas.pastabos }}</li>
                            </ul>
                            <div class="card-body">
                                <a href="{% url 'edit_atliktas_darbas' darbas.id %}" class="card-link">Edit</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="post-preview">
        <h2 class="post-title">
            Please Login
        </h2>
    </div>
</div>
{% endif %}

{%endblock%}