{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
{% if request.user.is_superuser %}
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm">
            <div class="card-body">
                {% if user.is_superuser %}

                <h3 style="color: #F5FFFA;">Atlikto Darbo Forma:</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    <div style="color: #F5FFFA;">
                        {{ form.bendrija | as_crispy_field }}
                    </div>
                    <div style="color: #F5FFFA;">
                        {{ form.pavadinimas | as_crispy_field }}
                    </div>
                    <div style="color: #F5FFFA;">
                        {{ form.aprasymas | as_crispy_field }}
                    </div>
                    <div style="color: #F5FFFA;">
                        {{ form.preliminari_kaina | as_crispy_field }}
                    </div>
                    <div style="color: #F5FFFA;">
                        {{ form.galutine_kaina | as_crispy_field }}
                    </div>
                    <div style="color: #F5FFFA;">
                        {{ form.atlikti_iki | as_crispy_field }}
                    </div>
                    <div style="color: #F5FFFA;">
                        {{ form.darbas_atlikas | as_crispy_field }}
                    </div>
                    <div style="color: #F5FFFA;">
                        {{ form.pastabos | as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-black btn-signup btn-lg text-better-white"
                        style="background-color: black; color: #F5FFFA;">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-better-white">Prašome Prisijungti</h2>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}