{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card-body">
                {% if user.is_superuser %}

                <h3>Atliktas Darbas Form</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    <div>
                        {{ existing_ataskaita.bendrija | as_crispy_field }}
                    </div>
                    <div>
                        {{ existing_ataskaita.year | as_crispy_field }}
                    </div>
                    <div>
                        {{ existing_ataskaita.mėnesis | as_crispy_field }}
                    </div>
                    <div>
                        {{ existing_ataskaita.atlyginimas  | as_crispy_field }}
                    </div>
                    <div>
                        {{ existing_ataskaita.sodra | as_crispy_field }}
                    </div>
                    <div>
                        {{ existing_ataskaita.vmi | as_crispy_field }}
                    </div>
                    <div>
                        {{ existing_ataskaita.pvm_saskaitos_kvitas | as_crispy_field }}
                    </div>
                    <div>
                        {{ existing_ataskaita.bankines_operacijos | as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-blue btn-signup btn-lg text-better-white">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Please Log In</h2>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}