<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <p class="my-0">MANO AKAUNTAS</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        {% endif %}
        <a href="{% url 'account_logout' %}" class="dropdown-item">Atsijungti</a>
        {% else %}
        <a href="{% url 'account_login' %}" class="dropdown-item">Prisijungti</a>
        {% endif %}
    </div>
</li>